<div class="artists-ctr">
    <div class="homepage__visual" style="background-image: url('/static/img/artists-bg.jpg')">
        <div class="content-wrapper">
            <div class="visual__text">
                <p>Artists</p>
            </div>
        </div>

    </div>
    <div class="artists">
        <div class="content-wrapper">
            {{#gruppi}}

                {{> artist-thumb}}

            {{/gruppi}}
        </div>
    </div>

</div>