<div class="artists-ctr">
    <div class="bg-image-ctr">
        <div class="homepage__visual"
             data-mediator="bg-image"
             data-image="/static/img/artists-bg.jpg">
            <div class="content-wrapper">
                <div class="slidein-05 visual__text">
                    <p>Artists</p>
                </div>
            </div>

        </div>
    </div>
    <div class="artists">
        <div class="content-wrapper">
            {{#gruppi}}

                {{> artist-thumb}}

            {{/gruppi}}
        </div>
    </div>

</div>