<div class="artists-ctr">
    <div class="content-wrapper">
        <h2 class="title last-artists-title">
            Artists
        </h2>
    </div>
    <div class="artists">
        <div class="content-wrapper">
            {{#gruppi}}

                {{> artist-thumb}}

            {{/gruppi}}
        </div>
    </div>

</div>