<div class="disco-detail">
    <div class="disco-image" style="background-image: url('/uploads/copertina.jpg')">
        <div class="content-wrapper">
            <h1 class="disco-image__title">Nome del disco</h1>
        </div>

    </div>
    <div class="disco-info">
        <div class="content-wrapper disco-info__wrapper">
            <div class="disco-text-ctr">
                <h2 class="disco-info__title">INTRODUCING</h2>
                <p class="disco-info__text">
                    The Coleman Collective are an experienced quintet, featuring some of the country’s freshest Jazz
                    talent. Fronted by vocalist Leigh Coleman and session players who have performed alongside the likes
                    of Joss Stone, Beverly Knight and Neil Cowley, Coleman Collective command superb musical pedigree.

                    With their unique arrangements and reworks of popular modern music into different vintage genres,
                    the Coleman Collective will guarantee a touch of class at your event. Guests can’t fail to be
                    inspired by the musicianship and unique twists on classic and contemporary hits Coleman Collective
                    deliver.
                </p>
            </div>
            <figure class="disco-cover">
                <img src="/uploads/copertina.jpg">
            </figure>
        </div>
    </div>

</div>