<style>
    .home {
        background: url("/static/img/bg.jpg") 50% 50% no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;

    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
</style>
<style class="cp-pen-styles">
    .equalizer {
        position: absolute;
        bottom: 16.25vmin;
        left: 16.25vmin;
        display: block;
        width: 5vmin;
        background-color: white;
        height: 2.5vmin;
    }

    .equalizer,
    .equalizer::before,
    .equalizer::after {
        -webkit-animation: equalize 1.25s steps(25, end) 0s infinite;
        animation: equalize 1.25s steps(25, end) 0s infinite;
    }

    .equalizer::before,
    .equalizer::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 6.25vmin;
        height: 17.5vmin;
        width: 5vmin;
        background-color: white;
    }

    .equalizer::before {
        -webkit-animation-name: equalize2;
        animation-name: equalize2;
    }

    .equalizer::after {
        left: 12.5vmin;
        -webkit-animation-name: equalize3;
        animation-name: equalize3;
    }

    @-webkit-keyframes equalize {
        0% {
            height: 5vmin;
        }
        4% {
            height: 2.5vmin;
        }
        8% {
            height: 5vmin;
        }
        12% {
            height: 8.75vmin;
        }
        16% {
            height: 12.5vmin;
        }
        20% {
            height: 16.25vmin;
        }
        24% {
            height: 15vmin;
        }
        28% {
            height: 13.75vmin;
        }
        32% {
            height: 13.75vmin;
        }
        36% {
            height: 10vmin;
        }
        40% {
            height: 12.5vmin;
        }
        44% {
            height: 12.5vmin;
        }
        48% {
            height: 13.75vmin;
        }
        52% {
            height: 15vmin;
        }
        56% {
            height: 16.25vmin;
        }
        60% {
            height: 15vmin;
        }
        64% {
            height: 15vmin;
        }
        68% {
            height: 13.75vmin;
        }
        72% {
            height: 12.5vmin;
        }
        76% {
            height: 13.75vmin;
        }
        80% {
            height: 15vmin;
        }
        84% {
            height: 15vmin;
        }
        88% {
            height: 16.25vmin;
        }
        92% {
            height: 12.5vmin;
        }
        96% {
            height: 8.75vmin;
        }
        100% {
            height: 5vmin;
        }
    }

    @keyframes equalize {
        0% {
            height: 5vmin;
        }
        4% {
            height: 2.5vmin;
        }
        8% {
            height: 5vmin;
        }
        12% {
            height: 8.75vmin;
        }
        16% {
            height: 12.5vmin;
        }
        20% {
            height: 16.25vmin;
        }
        24% {
            height: 15vmin;
        }
        28% {
            height: 13.75vmin;
        }
        32% {
            height: 13.75vmin;
        }
        36% {
            height: 10vmin;
        }
        40% {
            height: 12.5vmin;
        }
        44% {
            height: 12.5vmin;
        }
        48% {
            height: 13.75vmin;
        }
        52% {
            height: 15vmin;
        }
        56% {
            height: 16.25vmin;
        }
        60% {
            height: 15vmin;
        }
        64% {
            height: 15vmin;
        }
        68% {
            height: 13.75vmin;
        }
        72% {
            height: 12.5vmin;
        }
        76% {
            height: 13.75vmin;
        }
        80% {
            height: 15vmin;
        }
        84% {
            height: 15vmin;
        }
        88% {
            height: 16.25vmin;
        }
        92% {
            height: 12.5vmin;
        }
        96% {
            height: 8.75vmin;
        }
        100% {
            height: 5vmin;
        }
    }

    @-webkit-keyframes equalize2 {
        0% {
            height: 15vmin;
        }
        4% {
            height: 16.25vmin;
        }
        8% {
            height: 15vmin;
        }
        12% {
            height: 15vmin;
        }
        16% {
            height: 13.75vmin;
        }
        20% {
            height: 13.75vmin;
        }
        24% {
            height: 13.75vmin;
        }
        28% {
            height: 15vmin;
        }
        32% {
            height: 15vmin;
        }
        36% {
            height: 16.25vmin;
        }
        40% {
            height: 16.25vmin;
        }
        44% {
            height: 16.25vmin;
        }
        48% {
            height: 13.75vmin;
        }
        52% {
            height: 10vmin;
        }
        56% {
            height: 7.5vmin;
        }
        60% {
            height: 10vmin;
        }
        64% {
            height: 12.5vmin;
        }
        68% {
            height: 13.75vmin;
        }
        72% {
            height: 16.25vmin;
        }
        76% {
            height: 15vmin;
        }
        80% {
            height: 15vmin;
        }
        84% {
            height: 13.75vmin;
        }
        88% {
            height: 13.75vmin;
        }
        92% {
            height: 11.25vmin;
        }
        96% {
            height: 13.75vmin;
        }
        100% {
            height: 15vmin;
        }
    }

    @keyframes equalize2 {
        0% {
            height: 15vmin;
        }
        4% {
            height: 16.25vmin;
        }
        8% {
            height: 15vmin;
        }
        12% {
            height: 15vmin;
        }
        16% {
            height: 13.75vmin;
        }
        20% {
            height: 13.75vmin;
        }
        24% {
            height: 13.75vmin;
        }
        28% {
            height: 15vmin;
        }
        32% {
            height: 15vmin;
        }
        36% {
            height: 16.25vmin;
        }
        40% {
            height: 16.25vmin;
        }
        44% {
            height: 16.25vmin;
        }
        48% {
            height: 13.75vmin;
        }
        52% {
            height: 10vmin;
        }
        56% {
            height: 7.5vmin;
        }
        60% {
            height: 10vmin;
        }
        64% {
            height: 12.5vmin;
        }
        68% {
            height: 13.75vmin;
        }
        72% {
            height: 16.25vmin;
        }
        76% {
            height: 15vmin;
        }
        80% {
            height: 15vmin;
        }
        84% {
            height: 13.75vmin;
        }
        88% {
            height: 13.75vmin;
        }
        92% {
            height: 11.25vmin;
        }
        96% {
            height: 13.75vmin;
        }
        100% {
            height: 15vmin;
        }
    }

    @-webkit-keyframes equalize3 {
        0% {
            height: 11.25vmin;
        }
        4% {
            height: 8.75vmin;
        }
        8% {
            height: 11.25vmin;
        }
        12% {
            height: 13.75vmin;
        }
        16% {
            height: 16.25vmin;
        }
        20% {
            height: 18.75vmin;
        }
        24% {
            height: 17.5vmin;
        }
        28% {
            height: 13.75vmin;
        }
        32% {
            height: 11.25vmin;
        }
        36% {
            height: 10vmin;
        }
        40% {
            height: 8.75vmin;
        }
        44% {
            height: 6.25vmin;
        }
        48% {
            height: 10vmin;
        }
        52% {
            height: 12.5vmin;
        }
        56% {
            height: 13.75vmin;
        }
        60% {
            height: 16.25vmin;
        }
        64% {
            height: 15vmin;
        }
        68% {
            height: 13.75vmin;
        }
        72% {
            height: 13.75vmin;
        }
        76% {
            height: 12.5vmin;
        }
        80% {
            height: 15vmin;
        }
        84% {
            height: 16.25vmin;
        }
        88% {
            height: 17.5vmin;
        }
        92% {
            height: 15vmin;
        }
        96% {
            height: 12.5vmin;
        }
        100% {
            height: 11.25vmin;
        }
    }

    @keyframes equalize3 {
        0% {
            height: 11.25vmin;
        }
        4% {
            height: 8.75vmin;
        }
        8% {
            height: 11.25vmin;
        }
        12% {
            height: 13.75vmin;
        }
        16% {
            height: 16.25vmin;
        }
        20% {
            height: 18.75vmin;
        }
        24% {
            height: 17.5vmin;
        }
        28% {
            height: 13.75vmin;
        }
        32% {
            height: 11.25vmin;
        }
        36% {
            height: 10vmin;
        }
        40% {
            height: 8.75vmin;
        }
        44% {
            height: 6.25vmin;
        }
        48% {
            height: 10vmin;
        }
        52% {
            height: 12.5vmin;
        }
        56% {
            height: 13.75vmin;
        }
        60% {
            height: 16.25vmin;
        }
        64% {
            height: 15vmin;
        }
        68% {
            height: 13.75vmin;
        }
        72% {
            height: 13.75vmin;
        }
        76% {
            height: 12.5vmin;
        }
        80% {
            height: 15vmin;
        }
        84% {
            height: 16.25vmin;
        }
        88% {
            height: 17.5vmin;
        }
        92% {
            height: 15vmin;
        }
        96% {
            height: 12.5vmin;
        }
        100% {
            height: 11.25vmin;
        }
    }

    .center-me {
        position: absolute;
        bottom: 70px;
        left: 50%;
        margin-top: -25vmin;
        margin-left: -25vmin;
        width: 50vmin;
        height: 50vmin;
    }

    *,
    ::before,
    ::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

</style>
<style>
    @-webkit-keyframes equalize {
        0% {
            height: 5vmin;
        }
        4% {
            height: 2.5vmin;
        }
        8% {
            height: 5vmin;
        }
        12% {
            height: 8.75vmin;
        }
        16% {
            height: 12.5vmin;
        }
        20% {
            height: 16.25vmin;
        }
        24% {
            height: 15vmin;
        }
        28% {
            height: 13.75vmin;
        }
        32% {
            height: 13.75vmin;
        }
        36% {
            height: 10vmin;
        }
        40% {
            height: 12.5vmin;
        }
        44% {
            height: 12.5vmin;
        }
        48% {
            height: 13.75vmin;
        }
        52% {
            height: 15vmin;
        }
        56% {
            height: 16.25vmin;
        }
        60% {
            height: 15vmin;
        }
        64% {
            height: 15vmin;
        }
        68% {
            height: 13.75vmin;
        }
        72% {
            height: 12.5vmin;
        }
        76% {
            height: 13.75vmin;
        }
        80% {
            height: 15vmin;
        }
        84% {
            height: 15vmin;
        }
        88% {
            height: 16.25vmin;
        }
        92% {
            height: 12.5vmin;
        }
        96% {
            height: 8.75vmin;
        }
        100% {
            height: 5vmin;
        }
    }

    @-webkit-keyframes equalize2 {
        0% {
            height: 15vmin;
        }
        4% {
            height: 16.25vmin;
        }
        8% {
            height: 15vmin;
        }
        12% {
            height: 15vmin;
        }
        16% {
            height: 13.75vmin;
        }
        20% {
            height: 13.75vmin;
        }
        24% {
            height: 13.75vmin;
        }
        28% {
            height: 15vmin;
        }
        32% {
            height: 15vmin;
        }
        36% {
            height: 16.25vmin;
        }
        40% {
            height: 16.25vmin;
        }
        44% {
            height: 16.25vmin;
        }
        48% {
            height: 13.75vmin;
        }
        52% {
            height: 10vmin;
        }
        56% {
            height: 7.5vmin;
        }
        60% {
            height: 10vmin;
        }
        64% {
            height: 12.5vmin;
        }
        68% {
            height: 13.75vmin;
        }
        72% {
            height: 16.25vmin;
        }
        76% {
            height: 15vmin;
        }
        80% {
            height: 15vmin;
        }
        84% {
            height: 13.75vmin;
        }
        88% {
            height: 13.75vmin;
        }
        92% {
            height: 11.25vmin;
        }
        96% {
            height: 13.75vmin;
        }
        100% {
            height: 15vmin;
        }
    }

    @-webkit-keyframes equalize3 {
        0% {
            height: 11.25vmin;
        }
        4% {
            height: 8.75vmin;
        }
        8% {
            height: 11.25vmin;
        }
        12% {
            height: 13.75vmin;
        }
        16% {
            height: 16.25vmin;
        }
        20% {
            height: 18.75vmin;
        }
        24% {
            height: 17.5vmin;
        }
        28% {
            height: 13.75vmin;
        }
        32% {
            height: 11.25vmin;
        }
        36% {
            height: 10vmin;
        }
        40% {
            height: 8.75vmin;
        }
        44% {
            height: 6.25vmin;
        }
        48% {
            height: 10vmin;
        }
        52% {
            height: 12.5vmin;
        }
        56% {
            height: 13.75vmin;
        }
        60% {
            height: 16.25vmin;
        }
        64% {
            height: 15vmin;
        }
        68% {
            height: 13.75vmin;
        }
        72% {
            height: 13.75vmin;
        }
        76% {
            height: 12.5vmin;
        }
        80% {
            height: 15vmin;
        }
        84% {
            height: 16.25vmin;
        }
        88% {
            height: 17.5vmin;
        }
        92% {
            height: 15vmin;
        }
        96% {
            height: 12.5vmin;
        }
        100% {
            height: 11.25vmin;
        }
    }
</style>
<style>
    .fb-icon {
        position: absolute;
        bottom: -2.5vmin;
        left: 16.25vmin;
        width: 17.5vmin;
    }

</style>
<a href="https://www.facebook.com/Stonebridgerecords/">
    <div class="home">
        <div class="equalizer-CTR">
            <div class="center-me">
                <div class="equalizer"></div>
                <img src="/static/img/facebook-inverse.svg" class="fb-icon">
            </div>
        </div>

    </div>
</a>
<script>
    // Google Music Equalizer
    // https://ssl.gstatic.com/music/fe/1c1abd24f4bdc2a3cc124f6e9928d13b/ani_equalizer_black.gif

    // A pen by @Vestride

    // Stop animation events from propagating to the body,
    // which stops codepen from pausing them... o_0
    (function () {
        var animation = document.querySelector('.equalizer');

        function onAnimation(evt) {
            evt.stopPropagation();
        }

        animation.addEventListener('webkitAnimationStart', onAnimation, false);
        animation.addEventListener('webkitAnimationIteration', onAnimation, false);
        animation.addEventListener('animationStart', onAnimation, false);
        animation.addEventListener('animationIteration', onAnimation, false);
    }());
</script>