<div class="homepage">
    <div class="bg-image-ctr">
        <div class="homepage__visual"
             data-mediator="bg-image"
             data-image="{{info.cover.source}}">
            <div class="content-wrapper">
                <div class="visual__text slidein-05">
                    <p>{{info.description}}</p>
                </div>
            </div>

        </div>
    </div>
    <div class="last-artists-ctr">
        <div class="content-wrapper">
            <h2 class="title last-artists-title">
                Last Artists
            </h2>
            <div class="last-artists">
                {{#gruppi}}

                    {{> artist-thumb}}

                {{/gruppi}}

            </div>
            <div class="btn-ctr">

                <a href="/gruppi" class="btn line-effect">
                    <div class="line-1"><i></i></div>
                    <div class="line-2"><i></i></div>
                    <div class="line-3"><i></i></div>
                    <div class="line-4"><i></i></div>
                    <p>SHOW MORE</p>
                </a>
            </div>
        </div>
    </div>
    <div class="posts-ctr">
        <div class="content-wrapper">
            <h2 class="title posts-title">
                @Stonebridgerecords
            </h2>
        </div>

        <div class="posts">

            {{#each posts}}
                {{> post}}
            {{/each}}

        </div>
        <div class="btn-ctr">

            <a href="/posts" class="btn line-effect">
                <div class="line-1"><i></i></div>
                <div class="line-2"><i></i></div>
                <div class="line-3"><i></i></div>
                <div class="line-4"><i></i></div>
                <p>SHOW MORE</p>
            </a>
        </div>
    </div>
    <div data-mediator="post-image-zoomed" class="post-image-zoomed">
        <div class="content-wrapper js-thumb-ctr">
            <div class="post-image-zoomed__text-panel">
                <p class="text-js"></p>
            </div>
        </div>
    </div>

</div>