<div class="homepage">
    <div class="homepage__visual">
        <div class="visual__text">
            <p>This place got something</p>
        </div>

    </div>
    <div class="posts">

        {{#each posts}}
            {{> post}}
        {{/each}}
    </div>
    <div class="post-image-zoomed">
        <div class="post-image-zoomed__text-panel">
            <p class="text-js"></p>
        </div>
    </div>

</div>