<div class="posts-ctr">
    <div class="content-wrapper">
        <h2 class="title posts-title">
            @Stonebridgerecords
        </h2>
    </div>
    <div class="posts">

        {{#each posts}}
            {{> post}}
        {{/each}}

    </div>
</div>