<div class="posts-ctr">
    <div class="homepage__visual" style="background-image: url('/uploads/posts-cover.jpg')">
        <div class="content-wrapper">
            <div class="visual__text">
                <p>Posts</p>
            </div>
        </div>

    </div>
    <div class="posts__wrapper content-wrapper">
        <h2 class="title posts-title">
            @Stonebridgerecords
        </h2>
    </div>
    <div class="posts">

        {{#each posts}}
            {{> post}}
        {{/each}}

    </div>
</div>