@import "_variables";
.btn {
  display: inline-block;
  padding: 20px;
  color: @saddle-brown;
  font-weight: bold;
  transition: color .4s ease-out;
  &.line-effect {
    i {
      background: @brick-red;
    }
  }
  &:hover {
    color: @brick-red;
  }
}