@import "_equalizer";
@import "_variables";

.header {
  height: 54px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: @dark-olive-green;
  display: flex;
  justify-content: center;

  .text-ctr {

    font-size: 20px;
    color: @tan;

    text-transform: uppercase;
    h1 {
      padding: 0 5px;
      line-height: 17px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    transition: transform 0.5s ease-out;
    transform: translateY(0);
    &.closed {
      transform: translateY(-90px);
    }
    .text-ctr {
      font-size: 15px;
    }
  }
}