<div class="artist-thumb">
    <a href="{{seo.seo_url}}">
        <div class="artist__image line-effect"
             style="background-image: url('{{coverImage}}')">
            <div class="line-1"><i></i></div>
            <div class="line-2"><i></i></div>
            <div class="line-3"><i></i></div>
            <div class="line-4"><i></i></div>
        </div>
        <div class="artist__name">
            <p>{{name}}</p>
        </div>
        <div class="artist__description">
            <p>{{informations}}</p>
        </div>
    </a>
</div>