<div class="menu-ctr">
    <div class="nav-trigger">
        <div class="nav-trigger__elements">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav class="menu">
        <h2 class="menu__title">stonebridge studio</h2>
        <ul>
            <li class="menu__item">
                <a href="/">
                    homepage
                </a>
            </li>
            <li class="menu__item">
                <a href="/photo-gallery">
                    gallery
                </a>
            </li>
            <li class="menu__item">
                <a href="/news">
                    news
                </a>
            </li>
        </ul>
    </nav>
</div>
