<div class="menu-ctr {{__pagename__}}" data-mediator="menu">
    <div class="nav-trigger">
        <div class="nav-trigger__elements">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav class="menu">
        <h2 class="menu__title">stonebridge studio</h2>
        <ul>
            <li  class="menu__item homepage-btn line-effect">
                <div class="line-2"><i></i></div>

                <div class="line-3"><i></i></div>
                <a href="/">
                    homepage
                </a>
            </li>
            <li class="menu__item artists-btn line-effect">
                <div class="line-2"><i></i></div>

                <div class="line-3"><i></i></div>
                <a href="/gruppi">
                    artists
                </a>
            </li>
            <li class="menu__item who-we-are-btn line-effect ">
                <div class="line-2"><i></i></div>

                <div class="line-3"><i></i></div>
                <a href="/who-we-are">
                    who we are
                </a>
            </li>
        </ul>
    </nav>
</div>
