<div data-mediator="post-thumbnail" class="post line-effect">
    <div class="line-1"><i></i></div>
    <div class="line-2"><i></i></div>
    <div class="line-3"><i></i></div>
    <div class="line-4"><i></i></div>
    <figure class="post__image__wrapper">

        <img class="post__image" src="{{full_picture}}">
    </figure>

    <div class="post__text">
        <p>{{message}}</p>
    </div>

</div>