.btn {
  display: inline-block;
  padding: 20px;
  color: #1B0617;
  font-weight: bold;
  transition: color 0.4s ease-out;
}
.btn.line-effect i {
  background: #C71F49;
}
.btn:hover {
  color: #C71F49;
}
