.footer {
  background: #422030;
  height: 300px;
  margin-top: 50px;
}
.footer .buttons {
  display: flex;
  justify-content: flex-end;
  padding: 13px;
  align-items: flex-end;
}
.footer .footer-button {
  text-align: right;
}
.footer .footer-button.text-only {
  margin: 0 10px;
}
.footer .footer-button a {
  width: auto;
  background: transparent;
  color: #CCA684;
  font-size: 12px;
  transition: color 0.4s ease-out;
}
.footer .footer-button a:hover {
  color: #8D615B;
}
.footer .footer-social-button a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #CCA684;
  transition: background 0.5s ease-out;
  margin: 0 10px;
}
.footer .footer-social-button a:hover {
  background: #8D615B;
}
.footer .social-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .footer .buttons {
    display: block;
  }
  .footer-button {
    padding: 5px 0;
  }
  .footer .social-buttons {
    margin-top: 10px;
  }
}
