<div class="field">
    <fieldset>
        {{#if label}}<legend>{{label}}</legend>{{/if}}
        <label>true</label>
        <input type="radio" name="{{name}}" value="true" autocomplete="off">
        <label>false</label>
        <input type="radio" name="{{name}}" value="false" autocomplete="off">
    </fieldset>
</div>