<div class="field">
    <fieldset>
        <legend>{{label}}</legend>
        <label>true</label>
        <input type="radio" name="{{name}}" value="true">
        <label>false</label>
        <input type="radio" name="{{name}}" value="true">
    </fieldset>
</div>