<div class="field" data-mediator="html-field">
    <fieldset>
        {{#if label}}
            <legend>{{label}}</legend>{{/if}}

        <textarea name="{{name}}" autocomplete="off">{{value}}</textarea>
    </fieldset>
</div>