<div class="relation-field">
    <fieldset>
        {{#if label}}<legend>{{label}}</legend>{{/if}}
        <select name="{{name}}">
            <option >select an option</option>
            {{#each options}}
                <option value="{{value}}">{{label}}</option>
            {{/each}}
        </select>
    </fieldset>
</div>