<div class="field">
    <fieldset>
        <legend>{{label}}</legend>
        <select name="{{name}}">
            <option value="456">select an option</option>
            {{#each options}}
                <option value="{{value}}">{{label}}</option>
            {{/each}}
        </select>
    </fieldset>
</div>