<div class="field">
    <script data-json type="application/json">
        {{{json fields}}}
    </script>
    <fieldset>
        <legend>
            <button>add</button>
            <span>{{label}}</span>

        </legend>


    </fieldset>
</div>