<div class="field" data-mediator="repeatable-field">
    <span data-json type="application/json">
        {{{json fields}}}
    </span>
    <fieldset>
        <legend>
            <a href="javascript:void(0);" class="js-add">add</a>
            <span>{{label}}</span>
        </legend>
        <div class="js-fields-ctr fields">

        </div>

    </fieldset>
</div>