<div class="field">
    <fieldset>
        <legend>
            <button>add</button>
            <span>{{label}}</span>

        </legend>

        <ul class="fields">
            {{#fields}}
                {{> field-builder this}}
            {{/fields}}
        </ul>
    </fieldset>
</div>