<div class="field" data-mediator="repeatable-field">
    <span data-json type="application/json">
        {{{json fields}}}
    </span>
    <fieldset>
        <legend>
            <a href="javascript:void(0);" class="js-add">
                <span class="typcn typcn-plus"></span>
            </a>
            <span>{{label}}</span>
        </legend>
        <div class="js-fields-ctr fields">
            {{#if value}}
                {{#value}}
                    <div>
                    {{> field-builder this}}
                    <a href="javascript:void(0);" class='js-delete'>
                        <span class="typcn typcn-minus"></span>
                    </a>
                    </div>
                {{/value}}
            {{/if}}
        </div>

    </fieldset>
</div>