<div class="field" data-mediator="repeatable-field">
    <span data-json type="application/json">
        {{{json field}}}
    </span>
    <fieldset>
        <legend>
            <a href="javascript:void(0);" class="js-add" title="Aggiungi un {{label}}">
                <span class="typcn typcn-plus"></span>
            </a>
            <span>{{label}}</span>
        </legend>
        <div class="js-fields-ctr fields fields--repeatable">
            {{#if value}}
                {{#value}}
                    <div>
                    {{> field-builder this}}
                    <a href="javascript:void(0);" class='js-delete' title="Elimina il record">
                        <span class="typcn typcn-trash"></span>
                    </a>
                    </div>
                {{/value}}
            {{/if}}
        </div>

    </fieldset>
</div>