<div class="field">
    <fieldset>
        {{#if label}}<legend>{{label}}</legend>{{/if}}
        <select name="{{name}}" {{#multiple}}multiple{{/multiple}}>
            <option>select an option</option>
            {{#each options}}
                <option value="{{value}}">{{label}}</option>
            {{/each}}
        </select>
    </fieldset>
</div>