<div class="field">
    <fieldset>
        <legend>{{label}}</legend>
        <select name="{{name}}" {{#multiple}}multiple{{/multiple}}>
            <option>select an option</option>
            {{#each options}}
                <option value="{{value}}">{{label}}</option>
            {{/each}}
        </select>
    </fieldset>
</div>