<div class="menu-ctr" data-mediator="menu-principale">
    <button class="menu-trigger-btn">
        <span class="typcn typcn-th-menu"></span>
    </button>
    <nav class="menu">
        <ul>
            <li>
                <a href="/cms/contents">
                    <span>contents</span>
                    <span class="typcn typcn-chevron-right"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>
