<div class="menu-ctr" data-mediator="menu-principale">
    <button class="menu-trigger-btn">
        <span class="typcn typcn-th-menu"></span>
    </button>
    <nav class="menu">
        <ul>
            <li>
                <a href="/contents">contents</a>
            </li>
        </ul>
    </nav>
</div>
