<form name="newContent" method="post" action="/contents/save">
<input type="hidden" name="contentId" value="{{contentId}}">
<ul class="fields">
    {{#fields}}
        {{> field-builder this}}
    {{/fields}}

</ul>
<button>SAVE</button>
<a href="">BACK</a></form>