.content {
  max-width: 33%;
  flex-grow: 1;
  &s {
    display: flex;
    justify-content: space-between;

  }
  &__actions {
    display: flex;
  }
}

.entit {
  &y {
    &__name {

    }
  }
  &ies {

  }
}
