.seo__title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0;
  font-size: 20px;
}

.content {
  &s {
    padding-top: 68px;
    &-title {
      font-size: 28px;
      font-weight: bold;
    }
    &__header {
      position: fixed;
      z-index: 99999;
      top: 0;
      left: 0;
      width: 100%;
      background: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 20px 20px 65px;
      border-bottom: 1px silver solid;
      h2{

      }
      .save-btn{
        border: none;
        background: none;
        color: mediumseagreen;
        font-size: 20px;

        margin-left: 10px;
        padding: 0;
        line-height: 1;
        cursor: pointer;
        outline: none;
&-cnt{
  background: mediumseagreen;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
        span{
          margin: 0px -3px 4px 0;
          display: block;
        }
      }
      .back-btn{
        font-size: 20px;
        text-decoration: none;
      }
    }
  }
}
.js-copy{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: mediumseagreen;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  margin-left:10px;
}
.image-url-ctr {
  display: flex;
  align-items: center;
  padding: 10px;
}
.img-ctr{
  margin-left:10px;
}