.entity {
  padding: 20px 0;
  border-top: 1px silver solid;
  &:last-child {
    border-bottom: 1px silver solid;
  }
  &__header {
    display: flex;

  }
  &__name {
    font-size: 25px;
    font-weight: bold;
  }
  &__action {
    margin-right: 4px;
    &s {
      display: flex;
    }
    &--btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      background: silver;
      color: white;
      border-radius: 50%;
      font-size: 12px;
      flex-grow: 1;
      width: 22px;
      height: 22px;
      border: none;
    }
  }

}

.record {
  display: flex;
  //justify-content: space-between;
  padding: 10px 20px 10px 55px;
  &:first-child{
    padding-top: 20px;
  }
  &:last-child {
    padding-bottom: 0;
  }
  a {

    text-decoration: none;
    color: black;
  }
}